.form-box{
    border: 2px gray solid;
    padding: 30px;
    border-radius: 20px;
    margin: 30px;
    width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 330px;
}