.selected {
    background-color: rgba(76, 97, 214, 0.9);
    box-sizing: border-box;
    padding: auto;
    border-radius: 20%;

}

.secondary {
    background-color: rgba(76, 97, 214, 0.5);
    padding: auto;
    border-radius: 20%;
}

.completed {
    background-color: rgba(34, 187, 60, 0.5);
    padding: auto;
    border-radius: 20%;
}