.selected {
    background-color: #277eff;
    box-sizing: border-box;
    border-radius: 20%;

}

.secondary {
    background-color: #277dff80;
    border-radius: 20%;
}

.completed {
    background-color: rgb(27, 194, 55);
    border-radius: 20%;
}