.nav-items {
    list-style: none;
    display: flex;
    justify-content: center;
    width: fit-content;
    will-change: transform;
    transition: transform 200ms, text-shadow 200ms ease;
}

.nav-items:hover {
    transition: transform 200ms, text-shadow 200ms ease;
    transform: translateY(-3px);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.7);
}


.nav-items > li {
    padding: 10px;
    font-size:x-large;
    
}

.nav-header {
    display: flex;
    
}

.image {
    width: 60px;
}

.nav-top {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    box-shadow: gray 0px 5px 8px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer {
    background-color:dimgray;
    color: white;
}

body{
    margin: 0;
}

.main-content {
    align-items: center;
}

